{% extends "base.html" %}
{% load static %}


{% block content %}
    <h2>branch view</h2>
    <h3>{{ msg }}</h3>
    <h3>{{ branch.subject }}</h3>
    <div class="bvnodelist">
        {% for node in nodes %}
            <div class="bvnode {% if node.sender.username == user.username %}sentmessage{% endif %}">
                <p>{{ node.sender }}</p>
                <p>{{ node.created_on }}</p>
                <p>{{ node.content }}</p>
            </div>
        {% endfor %}
    </div>

    <hr>

    <h2>Reply</h2>
    <form method="POST" class="genericForm1" id="replyform">
        {% csrf_token %}
        <label for="Subject">Branch Subject</label>
        <input type="text" name="Subject" placeholder="Subject" value="{{ branch.subject }}">
        <label for="Recipient">Recipient</label>
        <input type="text" name="Recipient" placeholder="Recipient" required>
        <textarea name="Body" placeholder="">{{bodycontent}}</textarea>
        <input type="submit" value="Send">
    </form>

{% endblock %}

