{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="treelist">
        <h2>my Trees</h2>
        <ul>
            {% for tree in trees %}
                <li>
                    <p>{{ tree.topic }}</p>
                    <p class="treeid">{{ tree.id }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="branchlist">
        <h2>my Branches</h2>
        <ul>
            {% for branch in branches %}
                <li>
                    <a href="{% url 'branchview'  branch.id %}">{{ branch.tree.topic }} {{ branch.subject }}</a>
                    <p class="branchid">{{ branch.id }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="unreadlist">
        <h2>Unread Branches</h2>
        <ul>
            {% for branch in unread %}
                <li>
                    <a href="{% url 'branchview'  branch.id %}">{{ branch.tree.topic }} {{ branch.subject }}</a>
                    <p class="branchid">{{ branch.id }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

