{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}


{% block content %}
    <p id="msg_line">{{ msg }}</p>

    <div class="mains">
        <div class="browser mainsection">
            <h2>Browser</h2>

            <div class="location_bar">
                <div id="homediv" class="browse_button"><p>Home</p></div>
                <div id="backdiv" class="browse_button"><p>Back</p></div>
                <div class="path_div listitem"><p id="pathline">/</p></div>
            </div>

            <div class="itemlist folderlist">
                <div class="listitem folder sample">
                    <p class="path"></p>
                    <p class="name">name</p>
                    <p class="members">Bob, Alice</p>
                    <p class="node_id ">-1</p>
                    <p class="base_id hidden">-2</p>
                    <div class="kids">

                    </div>
                </div>
            </div>

            <div class="entrysection">
                <form action="POST" class="genericForm">
                    {% csrf_token %}
                    <label for="new_folder_line">Create Folder:</label>
                    <input type="text" id="new_folder_line">
                    <label for="add_member_line">Add Member:</label>
                    <input type="text" id="add_member_line">
                    <p class="remove_folder_button">Remove Folder</p>
                </form>
            </div>
        </div>

        <div class="viewer mainsection">
            <h2>Messages</h2>
            <div class="itemlist nodelist">
                <div class="listitem node sample">
                    <p class="base_id hidden">-2</p>
                    <p class="author hidden">Yomama</p>
                    <p class="members">Bob</p>
                    <p class="created_on">Today</p>
                    <p class="content">Hello, World!</p>
                    <p class="node_id">-1</p>
                </div>
            </div>
            <div class="entrysection">
                <form action="POST" class="genericForm">
                    {% csrf_token %}
                    <label for="new_message_line">Message:</label>
                    <input type="text" id="new_message_line">
                    <label for="send_message_button">Send Message</label>
                    <input type="submit" value="Send" id="send_message_button">
                </form>
            </div>
        </div>
    </div>

    <div id="data_block" class="hidden">
        <div class="folders">

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

