body {
    font-family: Roboto, sans-serif;
    /* background-color: rgb(243, 241, 237); */
}


.genericForm1 {
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: .5rem;
    align-items: baseline;
}

.genericForm1 textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 100px;
}

.genericForm1 label {
    grid-column-start: 1;
    font-size: 14px;
}

.genericForm2 {
    display: flex;
    flex-direction: column;

    margin: .5rem;
}



#mains {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* grid-gap: 1rem; */
}




.branch_id, .tree_id, .node_id, .hiddenform {
    display: none;
    color: blue;
}



.itemlist {
    overflow-y: auto;
    height: 60vh;
    background-color: rgb(243, 241, 237);
    border: 1px solid rgb(190, 190, 190);
    margin: .5rem;
}


.listitem {
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    border: 1px solid rgb(190, 190, 190);
    margin: .5rem;
}

.listitem p {
    margin: 0;
}

.listitem.selected {
    background-color: rgb(235, 235, 235);
}



.node {
    margin: .5rem 5rem .5rem .5rem ;

    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    padding: .5rem;
    border: 1px solid rgb(190, 190, 190);
}

.node.sentmessage {
    background-color: rgb(235, 235, 235);
    margin: .5rem .5rem .5rem 5rem ;
}

.node .node_created_on {
    text-align: right;
    font-size: 12px;
}

.node .content {
    grid-column-start: 1;
    grid-column-end: 3;
}

.node .node_sender {
    font-weight: bold;
    font-size: 12px;
}

.node .node_id {
    display: none;
    color: blue;
}



.branch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


