:root {
    --user_color: rgb(122 132 145);
    /* --list_back_color: rgb(247 243 236); */
    /* --list_back_color: rgb(243, 241, 237); */
    --list_back_color: rgb(255 248 236);

    --unread_color: rgb(255, 207, 123);

}

body {
    font-family: Roboto, sans-serif;
    background-color: rgb(247 243 236);
}


.hiddenform, .hidden {
    display: none;
    color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
}



.mains {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: calc(100vh - 100px);
}

.mainsection {
    display: flex;
    flex-direction: column;
}


.mainsection h2{
    border-bottom: 1px solid var(--user_color);
    margin-right: 2rem;
    padding: .5rem;
}

.itemlist {
    flex-grow: 1;
}

.listitem {
    border: 1px solid var(--user_color);
    border-radius: .5rem;
    padding: .5rem;
}


.entrysection {
    height: 100px;
}



.location_bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

.location_bar p {
    margin: 0;
}

.location_bar > p {
    grid-column-start: 1;
    grid-column-end: 3;
}



.genericForm {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.genericForm textarea {
    grid-column-start: 1;
    grid-column-end: 3;
}

