:root {
    --user_color: rgb(52 58 66);
    --sent_color: rgb(216 215 215);
    --list_back_color: rgb(255 255 255);
    --unread_color: #9ee2d7;
    --selected_color: #ffdca0;
    --nodefolder_color: #efc085;
}

body {
    font-family: Roboto, sans-serif;
    
    margin: 0;

    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 1fr;
}

.hidden {
    display: none;
    color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
}

.folder.sample {
    display: none;
}

.mains {
    display: grid;
    grid-template-columns: 400px 1fr;
    overflow-x: auto;
}

.mainsection {
    min-width: 400px;
}

.genericForm {
    display: grid;
    grid-template-columns: 120px 1fr;
    padding: .5rem .5rem;
    border: 1px solid var(--user_color);
}

.genericLineForm {
    display: grid;
    grid-template-columns: 1fr;
    flex-grow: 0;
}

.genericLineForm input {
    height: 30px;
}

.itemlist {
    flex-grow: 1;
    overflow-y: auto;
}

.listitem {
    border-top: 1px solid var(--user_color);
}

.listitem p {
    margin: 0;
}

/* BROWSER ITEMS -------------------------------------------------- */

#browser {
    background-color: rgb(131, 130, 151);
    display: flex;
    flex-direction: column;
}

#folderlist {
    flex-grow: 1;
}

.folder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    background-color: var(--list_back_color);
}


.folder.selected {
    background-color: var(--selected_color);
}


#group_editor {
    padding: 5px;
    background-color: var(--selected_color);
}


/* VIEWER ITEMS -------------------------------------------------- */


#viewer {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--user_color);
}

#viewheader {
    margin: 0 1rem;
    
}

#new_message_line {
    min-height: 5rem;
}

#nodelist {
    background-color: #252526;
    color: white;
}


/* FOOTER ITEMS -------------------------------------------------- */


#foot {
    background-color: rgb(96, 96, 129);
    color: white;
    padding-left: 3rem;
    margin: 0;
}

#foot p {
    margin: 10px 0;
}