.node.sample {
    display: none;
}

#mains {
    display: flex;
    flex-direction: row;
}

#messlist {
    flex-grow: 1;
}


.user {
    border: 1px solid black;
}

.node {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border: 1px solid var(--user_color);
}

.node .members {
    grid-column-start: 1;
    grid-column-end: 3;
}

.node .content {
    grid-column-start: 1;
    grid-column-end: 3;
}

